@using Aliencube.Scissorhands.ViewModels.Post

@model PostFormViewModel
@{
    ViewBag.Title = "Write Post";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<form class="row" asp-controller="post" asp-action="publish" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title"/>
    </div>
    <div class="form-group">
        <label asp-for="Slug"></label>
        <input class="form-control" asp-for="Slug" />
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea class="form-control" asp-for="Body"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit" formaction="@Url.Action("preview")">Preview</button>
        <button class="btn btn-primary" type="submit">Publish</button>
    </div>
</form>