@{
    var site = Model.Site;
}

<div class="site-header">

    <nav class="site-nav">
        @foreach (var page in site.Pages)
        {
            if (!string.IsNullOrWhiteSpace(page.Title))
            {
                <a class="page-link" href="@string.Join("/", site.BaseUrl, page.Url)">@Html.Raw(page.Title)</a>
            }
        }
    </nav>

    <h1>
     <span>
      <a class="site-title" href="@site.BaseUrl/">@Html.Raw(site.Title)</a>
     </span>
    </h1>


</div>
