<div class="footer" align="center">

  Designed by <a href="http://diezcami.github.io" target="_blank">Camille Diez</a> | Powered by <a href="http://getscissorhands.net" target="_blank">Scissorhands.NET</a>

</div>
