@{
    var page = Model.Page;
}

<div class="site-header">

    <nav class="site-nav">
        @foreach (var link in page.HeaderNavigationLinks)
        {
            <a class="page-link" href="@link.Url">@Html.Raw(link.Title)</a>
        }
    </nav>

    <h1>
     <span>
      <a class="site-title" href="@page.BaseUrl/">@Html.Raw(page.SiteTitle)</a>
     </span>
    </h1>


</div>
