@model Scissorhands.ViewModels.Post.PostFormViewModel
@{
    ViewBag.Title = "Write Post";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row" id="write">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <form class="row" asp-controller="post" asp-action="publish" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title"/>
            </div>
            <div class="form-group">
                <label asp-for="Slug"></label>
                <div class="input-group">
                    <div class="input-group-addon">@Model.SlugPrefix/</div>
                    <input trigger-field="Title" lock-checkbox="SlugEdit"  class="form-control slug-input" asp-for="Slug"/>
                    <div class="input-group-addon">.html</div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="SlugEdit"> Edit Slug
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input class="form-control" asp-for="Author" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label asp-for="Excerpt"></label>
                <textarea class="form-control" asp-for="Excerpt"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Body"></label>
                <textarea class="form-control" asp-for="Body"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Tags"></label>
                <input class="form-control" asp-for="Tags"/>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit" formaction="@Url.Action("preview")">Preview</button>
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>
        </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="preview">
    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/slug.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/slug.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $("#Body").keyup(function() {
            var markdown = $("#Body").val();
            $.ajax({
                type: "POST",
                url: "/admin/post/preview/html",
                data: JSON.stringify({ "value": markdown }),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    $("#preview").html(data.Value);
                }
            });
        });
        
        SlugAutofill.globalInit();
    </script>
}